<ul class="nav nav-tabs h5">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/pacjeci/">Pacjenci</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/wizyty">Wizyty</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/lekarze">Lekarze</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Konto</a>
  </li>
</ul>
