<ul class="nav nav-tabs h5 justify-content-between">
  <div class="nav">
    <li *ngIf="userRole === 'ROLE_ADMIN'" class="nav-item">
      <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/pacjenci">Pacjenci</a>
    </li>
    <li *ngIf="userRole === 'ROLE_ADMIN'" class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/wizyty">Wizyty</a>
    </li>
    <li *ngIf="userRole === 'ROLE_ADMIN'" class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/lekarze">Lekarze</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/konto">Konto</a>
    </li>
  </div>
  <li class="nav-item">
    <button class="nav-link text-danger" (click)="logout()">Wyloguj</button>
  </li>
</ul>
