<div class="body-wrapper">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Login Form -->
      <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
        <label class="h4">Zaloguj się</label>
        <input type="text" id="login" class="fadeIn second" name="login" ngModel #login="ngModel"
          placeholder="Nazwa użytkownika" required>
        <input type="password" id="password" class="fadeIn third" name="password" ngModel #password="ngModel"
          placeholder="Hasło" required>
        <input type="submit" class="fadeIn fourth mt-3" value="Zaloguj">
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        Wszystkie prawa zastrzeżone &copy;
      </div>

    </div>
  </div>
</div>
