<div class="row justify-content-center">
  <form class="row" #formRef="ngForm" (ngSubmit)="onFormSubmit(formRef)">

    <!-- DANE PODSTAWOWE -->
    <div class="col-xl-6 mt-4">

      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Dane podstawowe</h5>

          <div class="form-group mt-3">
            <label>Imię:</label>
            <input type="text" class="form-control" placeholder="Wprowadź imię" name="firstName" ngModel required
              #firstName="ngModel">
            <small class="help-message" *ngIf="!firstName.valid && firstName.touched">To pole jest wymagane</small>
          </div>

          <div class="form-group mt-3 mb-2">
            <label>Nazwisko:</label>
            <input type="text" class="form-control" placeholder="Wprowadź nazwisko" name="lastName" ngModel required
              #lastName="ngModel">
            <small class="help-message" *ngIf="!lastName.valid && lastName.touched">To pole jest wymagane</small>
          </div>

        </div>
      </div>

      <!-- SPECJALIZACJE -->
      <div class="card shadow mt-4">
        <div class="card-body">
          <h5 class="card-title">Posiadane specializacje:</h5>

          <div class=" form-group mt-3">

            <mat-form-field class="example-chip-list" appearance="fill">

              <mat-label>Specjalizacje</mat-label>

              <mat-chip-list #chipList>

                <mat-chip *ngFor="let choosenSpec of choosenSpecializations" (removed)="remove(choosenSpec)">
                  {{choosenSpec}}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>

                <input placeholder="Specjalizacje..." #specializationsInput [formControl]="specializationsCtrl"
                  [matAutocomplete]="auto" [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">

              </mat-chip-list>

              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                  {{fruit}}
                </mat-option>
              </mat-autocomplete>

            </mat-form-field>
            <small class="help-message" *ngIf="!choosenSpecializations.length && specializationsCtrl.touched">To pole
              nie może być
              puste</small>

          </div>
        </div>
      </div>


    </div>

    <div class="col-xl-6 mt-4 mb-4">

      <!-- ADRES -->
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Adres zamieszkania</h5>

          <div class="form-group mt-3">
            <label>Kod pocztowy:</label>
            <input type="text" class="form-control" placeholder="Wprowadź kod pocztowy" name="postCode" ngModel required
              pattern="\d{2}-\d{3}" #postCode="ngModel">
            <small class="help-message" *ngIf="!postCode.valid && postCode.touched">Kod pocztowy powinien spełniać
              format
              "XX-XXX"</small>
          </div>

          <div class=" form-group mt-3">
            <label>Miejscowość:</label>
            <input type="text" class="form-control" placeholder="Wprowadź miejscowość" name="city" ngModel required
              #city="ngModel">
            <small class="help-message" *ngIf="!city.valid && city.touched">To pole jest wymagane</small>
          </div>

          <div class="form-group mt-3">
            <label>Numer domu:</label>
            <input type="text" class="form-control" placeholder="Wprowadź numer domu" name="homeNumber" ngModel required
              #homeNumber="ngModel">
            <small class="help-message" *ngIf="!homeNumber.valid && homeNumber.touched">To pole jest wymagane</small>
          </div>

          <div class="form-group mt-4 mb-2">
            <button class="btn btn-primary" type="submit" [disabled]="!formRef.valid || !choosenSpecializations.length">
              Dodaj lekarza
            </button>
          </div>

        </div>
      </div>

    </div>
  </form>
</div>
