<div class="row justify-content-center">
  <form class="row" #formRef="ngForm" (ngSubmit)="onFormSubmit(formRef)">

    <!-- DANE PODSTAWOWE -->
    <div class="col-xl-6 mt-4">

      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Dane podstawowe</h5>

          <!-- PESEL -->
          <div class="form-group mt-3">
            <label>Pesel:</label>

            <div class="input-group">
              <input type="text" class="form-control" placeholder="Pesel" name="pesel" ngModel #pesel="ngModel" required
                readonly>
            </div>
          </div>

          <div class="form-group mt-3">
            <label>Imię:</label>
            <input type="text" class="form-control" placeholder="Wprowadź imię" name="firstName" ngModel required
              #firstName="ngModel" [disabled]="!isEditMode">
            <small class="help-message" *ngIf="!firstName.valid && firstName.touched">To pole jest wymagane</small>
          </div>

          <div class="form-group mt-3 mb-2">
            <label>Nazwisko:</label>
            <input type="text" class="form-control" placeholder="Wprowadź nazwisko" name="lastName" ngModel required
              #lastName="ngModel" [disabled]="!isEditMode">
            <small class="help-message" *ngIf="!lastName.valid && lastName.touched">To pole jest wymagane</small>
          </div>

        </div>
      </div>

      <!-- DANE KONTA W SYSTEMIE -->
      <div class="card shadow mt-4">
        <div class="card-body">
          <h5 class="card-title">Informacje o koncie w systemie:</h5>

          <div class=" form-group mt-3">
            <label>Nazwa użytkownika:</label>
            <input type="text" class="form-control" placeholder="Nazwa użytkownika" name="username" ngModel required
              #username="ngModel" [disabled]="!isEditMode">
            <small class="help-message" *ngIf="!username.valid && username.touched">To pole jest wymagane</small>
          </div>

        </div>
      </div>


    </div>

    <div class="col-xl-6 mt-4 mb-4">

      <!-- ADRES -->
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Adres zamieszkania</h5>

          <div class="form-group mt-3">
            <label>Kod pocztowy:</label>
            <input type="text" class="form-control" placeholder="Wprowadź kod pocztowy" name="postCode" ngModel required
              pattern="\d{2}-\d{3}" #postCode="ngModel" [disabled]="!isEditMode">
            <small class="help-message" *ngIf="!postCode.valid && postCode.touched">Kod pocztowy powinien spełniać
              format
              "XX-XXX"</small>
          </div>

          <div class=" form-group mt-3">
            <label>Miejscowość:</label>
            <input type="text" class="form-control" placeholder="Wprowadź miejscowość" name="city" ngModel required
              #city="ngModel" [disabled]="!isEditMode">
            <small class="help-message" *ngIf="!city.valid && city.touched">To pole jest wymagane</small>
          </div>

          <div class="form-group mt-3">
            <label>Numer domu:</label>
            <input type="text" class="form-control" placeholder="Wprowadź numer domu" name="homeNumber" ngModel required
              #homeNumber="ngModel" [disabled]="!isEditMode">
            <small class="help-message" *ngIf="!homeNumber.valid && homeNumber.touched">To pole jest wymagane</small>
          </div>

          <div class="form-group mt-4 mb-2">
            <button class="btn btn-success" type="button" (click)="turnOnEditMode()">
              Włącz tryb edycji
            </button>
            |
            <button class="btn btn-primary" type="submit" [disabled]="!formRef.valid || !isEditMode">
              Edytuj dane pacjenta
            </button>
          </div>

        </div>
      </div>

    </div>
  </form>
</div>
