<div class="row justify-content-center">
  <div *ngIf="!isLoadingData" class="col-md-10">
    <!-- SEARCH INPUT -->
    <div class="col-md-12 mt-3">
      <div class="form-group">
        <label class="mb-2 h5">Wprowadź dane pacjenta:</label>
        <div class="input-group mb-1">
          <input type="number" class="form-control" placeholder="Wyszukaj" #searchPhrase>
          <button class="btn btn-outline-secondary"
            (click)="fetchPatientsByPage(0, searchPhrase.value); isSearchModeActive=true;">
            Szukaj
          </button>
        </div>
        <small class="form-text text-muted">Wyszukaj pacjenta po numerze pesel</small>
      </div>
    </div>

    <!-- PATIENTS LIST -->
    <app-patient-header-list-item></app-patient-header-list-item>
    <app-patient-item *ngFor="let patientEl of patients" [patient]="patientEl"></app-patient-item>

    <!-- PAGINATION -->
    <div *ngIf="totalPages > 1" class="mt-5">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" [ngClass]="{'disabled' : currentPage == 0}">
            <a class="page-link" (click)="fetchPatientsByPage(currentPage - 1)">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Poprzednia</span>
            </a>
          </li>
          <li class="page-item" *ngFor="num of numbers; let i = index" [ngClass]="{'active' : currentPage == i}"><a
              class="page-link" (click)="fetchPatientsByPage(i)">{{i + 1}}</a>
          </li>
          <li class="page-item" [ngClass]="{'disabled' : currentPage == (totalPages-1)}">
            <a class="page-link" (click)="fetchPatientsByPage(currentPage + 1)">
              <span class="sr-only">Następna</span>
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="col-md-10 mt-5 text-center">
    <app-spinner-loader *ngIf=" isLoadingData">
    </app-spinner-loader>
  </div>
</div>
